
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
html, body {
    min-height: 100vh;  /* Sets the minimum height to be 100% of the viewport height */
    height: 100%;  /* This can still be set to 100% to ensure it covers at least the viewport height */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    font-family: 'Montserrat', sans-serif;

}

.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1; 
    padding: 40px;
    overflow: auto;  
    flex-direction: column;  
    display: flex;  
    padding: 20px;
    align-items: center; 
}


body {
    margin: 0;
    flex: 1; 
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat'; 
    background-color: #000;
    color: #fff;
}


.intro-section {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .intro-image img {
    width: 90%;  
    height: 100%; 
    object-fit: cover; 
    padding: 0; 
    margin: 0;  
    display: block; 
    border-radius: 10px;
  }


  .intro-image {
    padding: 0; 
    margin: 0; 
    border-radius: 10px;

}

  
.intro-content {
    text-align: center;
}
  
.flag-image {
    width: 400px; 
    height: auto;
    margin: 0 auto 30px;
    object-fit: cover;
    border-radius: 10px;
    /* clip-path: path('M 50,500 Q 350,-1350 800,500 Z');  */
}
  
  .large-heading {
    font-size: 25px;
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;

  }
  
  .intro-content p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #ccc;
  }
  
  .cta-button {
    padding: 10px 20px; 
    background-color: #04287a; 
    color: white; 
    cursor: pointer;
    margin: 10px auto 0; 
    border-radius: 30px; 
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5); 
    text-align: center;
    width: fit-content; 
    height: 40px;
    transition: background-color 0.3s, border 0.3s; 
}
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  /* Goals section */
  .goals-section {
    width: 100%;
    padding: 50px 20px;
    background-color: #1a1a1a;
    color: white;
  }
  
  .goals-section h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .goals-section p {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  
  .goals-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .goal {
    max-width: 300px;
    margin: 20px;
    text-align: center;
  }
  
  .goal-image {
    width: 100px;
    margin-bottom: 10px;
  }
  
  .goal h4 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .goal p {
    font-size: 14px;
    color: #ccc;
  }