
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    margin: 0;
    font-family: 'Montserrat'; 
    background-color: #000;
    color: #fff;
}

header {
    background-color: #000;
}

.top-bar {
    display: flex;
    justify-content:right;
    align-items: center;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 140px;
    height: 140px;
    margin-right: 5px;

}

.site-title {
    font-size: 48px;
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 180px;

}

.menu-bar {
    border-top: 1px solid white;
    padding: 10px 20px;
    margin-bottom: 40px; /* Adds space below the menu bar */

}

.menu {
    list-style: none;
    display: flex;
    gap: 100px;
    padding: 10;
    margin: 0;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: semi-bold;
    font-size: 32px;
}

main {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    padding: 20px;
}

.left-image img {
    width: 80%;
    height: 130%;
    object-fit: cover;
    padding: 20px;

}

.right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    text-align: center;
}

.flag-image {
    width: 700px; 
    height: auto;
    margin: 0 auto 30px;
    object-fit: cover;
    clip-path: path('M 50,500 Q 350,-1350 800,500 Z'); 
}


.cta-button {
    padding: 10px 20px; 
    background-color: #04287a; 
    color: white; 
    cursor: pointer;
    margin: 10px auto 0; 
    border-radius: 30px; 
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5); 
    text-align: center;
    width: fit-content; 
    height: 50px;
    transition: background-color 0.3s, border 0.3s; 
}
    

.large-heading {
    font-size: 64px; 
    font-weight: bold; 
    margin: 30px 0; 
}

p {
    font-size: 20px; /* Adjust the size as needed */
  }