/* About Section */
.about-section {
    padding: 40px 10px;
    text-align: left;
    background-color: #1a1a1a;
    width: 1200px;

}

.about-section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    margin-top: 5px;
    color: white;
}

/* Container Layout */
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 30px;
}

/* Text Section */
.about-text {
    flex: 1;
    max-width: 500px;
    text-align: left;
}

.about-text h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: white;
}

.about-text p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: white;
}

/* Social Links */
.social-links a img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.social-links {
    margin-bottom: 20px;
}

/* About Me Button */
.about-button {
    background-color: #6a5acd; /* Light purple */
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.about-button:hover {
    background-color: #5848ad; 
}

/* Photo Section */
.about-photo img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 140px
}
